In [1]:
import pandas as pd
import datetime

pd.set_option('display.max_columns', 80)
pd.set_option('display.max_rows', 80)

In [2]:
# Read in the data
df_original = pd.read_excel('data/redfin_county_data_2023-08.xlsx')
df_original.shape

(45275, 11)

In [3]:
df = df_original.copy()
df

,month,county_name,state_code,property_type,homes_sold,new_listings,inventory,median_dom,months_of_supply,avg_sale_to_list,last_updated
0,2022-01-01,Anchorage Borough,AK,All Residential,299.0,260.0,281.0,23.0,0.9,0.997268,2023-06-12 18:59:53
1,2022-02-01,Anchorage Borough,AK,All Residential,275.0,377.0,261.0,26.0,0.9,0.999285,2023-06-12 18:59:53
2,2022-03-01,Anchorage Borough,AK,All Residential,330.0,519.0,338.0,10.0,1.0,1.007306,2023-06-12 18:59:53
3,2022-04-01,Anchorage Borough,AK,All Residential,382.0,588.0,412.0,7.0,1.1,1.016928,2023-06-12 18:59:53
4,2022-05-01,Anchorage Borough,AK,All Residential,450.0,580.0,490.0,6.0,1.1,1.021457,2023-06-12 18:59:53
...,...,...,...,...,...,...,...,...,...,...,...
45270,2023-01-01,Morgan County,WV,All Residential,22.0,19.0,70.0,129.0,3.2,0.942904,2023-06-12 18:59:53
45271,2023-02-01,Morgan County,WV,All Residential,19.0,31.0,75.0,69.0,3.9,0.945075,2023-06-12 18:59:53
45272,2023-03-01,Morgan County,WV,All Residential,25.0,24.0,75.0,49.0,3.0,0.977504,2023-06-12 18:59:53
45273,2023-04-01,Morgan County,WV,All Residential,23.0,19.0,68.0,58.0,3.0,0.987024,2023-06-12 18:59:53
45274,2023-05-01,Morgan County,WV,All Residential,30.0,32.0,73.0,49.0,2.4,1.003392,2023-06-12 18:59:53

In [4]:
df["county_qualified_name"] = df["county_name"] + ', ' + df["state_code"]

df['month'] = pd.to_datetime(df["month"])

df.sort_values(by=['state_code', 'county_name'], inplace=True)
df

,month,county_name,state_code,property_type,homes_sold,new_listings,inventory,median_dom,months_of_supply,avg_sale_to_list,last_updated,county_qualified_name
0,2022-01-01,Anchorage Borough,AK,All Residential,299.0,260.0,281.0,23.0,0.9,0.997268,2023-06-12 18:59:53,"Anchorage Borough, AK"
1,2022-02-01,Anchorage Borough,AK,All Residential,275.0,377.0,261.0,26.0,0.9,0.999285,2023-06-12 18:59:53,"Anchorage Borough, AK"
2,2022-03-01,Anchorage Borough,AK,All Residential,330.0,519.0,338.0,10.0,1.0,1.007306,2023-06-12 18:59:53,"Anchorage Borough, AK"
3,2022-04-01,Anchorage Borough,AK,All Residential,382.0,588.0,412.0,7.0,1.1,1.016928,2023-06-12 18:59:53,"Anchorage Borough, AK"
4,2022-05-01,Anchorage Borough,AK,All Residential,450.0,580.0,490.0,6.0,1.1,1.021457,2023-06-12 18:59:53,"Anchorage Borough, AK"
...,...,...,...,...,...,...,...,...,...,...,...,...
45270,2023-01-01,Morgan County,WV,All Residential,22.0,19.0,70.0,129.0,3.2,0.942904,2023-06-12 18:59:53,"Morgan County, WV"
45271,2023-02-01,Morgan County,WV,All Residential,19.0,31.0,75.0,69.0,3.9,0.945075,2023-06-12 18:59:53,"Morgan County, WV"
45272,2023-03-01,Morgan County,WV,All Residential,25.0,24.0,75.0,49.0,3.0,0.977504,2023-06-12 18:59:53,"Morgan County, WV"
45273,2023-04-01,Morgan County,WV,All Residential,23.0,19.0,68.0,58.0,3.0,0.987024,2023-06-12 18:59:53,"Morgan County, WV"
45274,2023-05-01,Morgan County,WV,All Residential,30.0,32.0,73.0,49.0,2.4,1.003392,2023-06-12 18:59:53,"Morgan County, WV"

In [5]:
start_date = pd.to_datetime('2023-03-01')
one_month_ago = start_date - pd.DateOffset(months=1)
three_months_ago = start_date - pd.DateOffset(months=3)
six_months_ago = start_date - pd.DateOffset(months=6)
twelve_months_ago = start_date - pd.DateOffset(years=1)
eighteen_months_ago = start_date - pd.DateOffset(years=1, months=6)

time_periods = {
                # 1: one_month_ago,
                3: three_months_ago,
                # 6: six_months_ago,
                # 12: twelve_months_ago,
                # 18: eighteen_months_ago
              }

time_periods

{3: Timestamp('2022-12-01 00:00:00')}

In [6]:
# Create an empty DataFrame to store the averages

averages_df = pd.DataFrame()

for period, time in time_periods.items():
    df_period = df[df['month'] > time]
    averages = df_period.groupby('county_qualified_name').agg({'homes_sold': 'mean', 
                                                    'new_listings': 'mean', 
                                                    'inventory': 'mean', 
                                                    'median_dom': 'mean',
                                                    'months_of_supply': 'mean',
                                                    'state_code': 'first',
                                                    'county_name': 'first'}).reset_index()
    # Round the values to 2 decimal places
    averaged_column_names = ['homes_sold', 'new_listings', 'inventory', 'median_dom', 'months_of_supply']
    averages[averaged_column_names] = averages[averaged_column_names].round(2)

    averages['months_averaged'] = period
    averages_df = pd.concat([averages_df, averages])

# Reset the index of the new DataFrame
averages_df.reset_index(drop=True, inplace=True)

averages_df

,county_qualified_name,homes_sold,new_listings,inventory,median_dom,months_of_supply,state_code,county_name,months_averaged
0,"Abbeville County, SC",11.60,15.20,38.20,74.60,4.08,SC,Abbeville County,3
1,"Acadia Parish, LA",23.20,22.80,70.00,77.40,3.08,LA,Acadia Parish,3
2,"Accomack County, VA",28.20,43.00,124.80,62.80,4.68,VA,Accomack County,3
3,"Ada County, ID",669.20,585.80,1291.60,62.40,2.00,ID,Ada County,3
4,"Adair County, IA",4.60,4.40,7.80,43.60,2.04,IA,Adair County,3
...,...,...,...,...,...,...,...,...,...
2852,"Yukon-Koyukuk Census Area, AK",2.00,2.00,3.00,61.00,2.00,AK,Yukon-Koyukuk Census Area,3
2853,"Yuma County, AZ",165.40,176.20,403.00,58.80,2.54,AZ,Yuma County,3
2854,"Yuma County, CO",4.40,4.60,13.00,95.40,4.24,CO,Yuma County,3
2855,"Zapata County, TX",3.00,4.25,17.00,133.33,9.12,TX,Zapata County,3
2856,"Zavala County, TX",1.33,2.67,5.67,130.67,4.83,TX,Zavala County,3

In [7]:
df_sorted = averages_df.copy()

In [8]:
df_sorted.sort_values(by=['state_code', 'county_name', 'months_averaged'], inplace=True)
df_sorted.reset_index(drop=True, inplace=True)

df_sorted.head(6)

,county_qualified_name,homes_sold,new_listings,inventory,median_dom,months_of_supply,state_code,county_name,months_averaged
0,"Anchorage Borough, AK",211.8,294.6,241.0,18.4,1.18,AK,Anchorage Borough,3
1,"Bethel Census Area, AK",1.5,1.0,8.5,77.0,6.75,AK,Bethel Census Area,3
2,"Denali Borough, AK",1.0,1.0,3.0,67.5,3.00,AK,Denali Borough,3
3,"Fairbanks North Star Borough, AK",76.0,107.6,209.4,67.0,3.10,AK,Fairbanks North Star Borough,3
4,"Kenai Peninsula Borough, AK",43.4,77.6,157.0,29.4,4.06,AK,Kenai Peninsula Borough,3
5,"Kodiak Island Borough, AK",2.4,4.8,6.6,64.0,4.46,AK,Kodiak Island Borough,3

In [9]:
df_renamed = df_sorted.rename(
    columns={
        "homes_sold": "homes_sold_redfin",
        "new_listings": "new_listings_redfin",
        "inventory": "inventory_redfin",
        "median_dom": "median_dom_redfin",
        "months_of_supply": "months_of_supply_redfin",
        "months_averaged": "months_averaged_redfin",
    }
  )

In [10]:
today = datetime.date.today()
date_string = today.strftime("%Y-%m-%d")
file_path = f"processed/redfin_month_rollup_{date_string}.xlsx"

In [11]:
df_renamed.to_excel(file_path, index=False)